<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Add New Blog</title>
    <style>
       #particles-js {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color:rgb(0, 0, 0); /* Optional background color */
     
      z-index: -1; /* Keep it behind other elements */
    }

        .form-container {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 40px;
            border-radius: 15px;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        }
        .form-container:hover {
            transform: translateY(-5px);
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.6), 0 10px 25px rgba(0,0,0,0.5);
        }
    </style>
</head>
<body>
    <div>
        <%- include('./partials/nav.ejs') %>
    </div>
    <div id="particles-js"></div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-container">
                    <h2 class="text-center mb-4">Add New Blog</h2>
                    <form action="/blog" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="fullname" class="form-label">Name Blog</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="coverImageUrl" class="form-label">Cover Image</label>
                            <input type="file" class="form-control" id="coverImageUrl" name="coverImageUrl" required>
                        </div>

                        <div class="mb-3">
                            <label for="body">Body</label>
                            <textarea name="body" class="form-control"  id="body" style="height: 100px"></textarea>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-outline-light">Summit</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/scripte.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
-   <script src="/public/particles-config.js"></script>
+   <script src="/particles-config.js"></script>
</body>
</html>